body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
   background-image: url(Walpaper.png);
      background-size: cover; 
      background-repeat: no-repeat; 
      background-position: center; 
  margin: 0;
  color: #dcdcdc;

  position: static !important;
  top: 0 !important;


   font-family: 'Orbitron', sans-serif;
  
}





.typing-animation {
  position: relative;
  display: inline-block;
  width: 100%;
}

.typing-animation::after {
  content: '|';
  position: absolute;
  right: 0;
  bottom: 0;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}


/* // <weight>: Use a value from 400 to 900 */

.orbitron-uniquifier {
  font-family:sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-align: center;
}


 .neon-text {

    
    color: #ffffff; /* Cor principal do texto (branco) */
    text-shadow: 
        0 0 3px #00aaff,   /* Primeira camada de brilho */
        0 0 6px #00aaff,   /* Segunda camada de brilho */
        0 0 9px #00aaff,   /* Terceira camada de brilho */
        0 0 12px #0077cc,  /* Quarta camada de brilho (azul mais escuro) */
        0 0 15px #0077cc,  /* Quinta camada de brilho */
        0 0 18px #0077cc,  /* Sexta camada de brilho */
        0 0 21px #0077cc;  /* Sétima camada de brilho */
 
    background: none; /* Remove o fundo, se houver */
}





#main-content {
  display: flex;
  width: 100%;
  max-width: 1200px; /* Largura máxima ajustada para 1200px */
  height: 100vh;
  flex-direction: column; /* Ajuste para responsividade */
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-hidden {
  display: none;
}

.modal-visible {
  display: flex;
}



.modal-content {
  background-color: #002366;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 40%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 6px solid #000b51;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.header img {
  width: 100px;
  height: 60px;
  margin-right: 10px;
}

.header h1 {
  font-size: 28px;
  color: #ffffff;
  margin: 0;
}

.message {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
  white-space: normal; /* Permite a quebra de linha */
  width: 100%;
}

p {
  width: 100%;
}
.back-button,
.start-button,
.close-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fff200;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start-button:hover,
.close-button:hover {
  background-color: #a08800;
} 


#top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.help-button {
  appearance: none; /* Remove o estilo padrão do navegador */
  background: #003366; /* Cor de fundo azul escuro */
  border: 1px solid #004080; /* Borda azul mais clara */
  border-radius: 4px; /* Bordas arredondadas */
  padding: 10px 10px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  color: #ffffff; /* Cor do texto em branco */
  width: 200px; /* Largura do select */
  cursor: pointer; /* Cursor em forma de ponteiro */
  position: relative;
  width: 100px;
  
}

.help-button:hover {
  background-color: #000b51;
}

#dropdown-container {
  display: flex;
  align-items: center;
}


#sidebar {
  width: 300px;
 
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

#sidebar h2 {
  margin-top: 0;
  color: #ffffff;
}

#main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #ffffff;
  margin: 20px 0;
}

/* CSS para a linha responsiva que divide o título com a imagem do chat */
.title-section {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  margin-top: 20px; /* Ajuste a margem conforme necessário */
}

.divider {
    border: none; /* Remove a borda padrão */
    
    
    margin-inline: 450px;
}



/* Ajustes adicionais conforme necessário */
#imgtitle {
  width: 150px; /* Ajuste o tamanho conforme necessário */
  height: auto; /* Mantém a proporção original */
  margin-left: -30px; /* Espaço à esquerda da imagem */
}

#chatbox {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* background-color: #002366; */
  padding: 20px;
  box-sizing: border-box;
  overflow: auto; /* Add this rule to enable scrolling /
  max-height: calc(100vh - 200px); / Adjust height as needed */
}
#messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto; /* Adicionado para permitir rolagem vertical */
  padding: 0;
  
  max-height: calc(100vh - 200px); /* Ajustado para a versão desktop */
}

.chat-message {
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 10px;
  max-width: 80%;
  word-wrap: break-word;
  align-self: flex-start;
  font-size: 1rem;
}

.user-message {
  background-color: #ffffff;
  color: #002366;
  align-self: flex-end;
  max-width: 80%; /* Ajustado para melhor largura */
}

.chatbot-message {
  /* background-color: #002366; */
  color: #d0d0d0;
  display: flex;
  align-items: center;
  max-width: 80%; /* Ajustado para melhor largura */
}

.chatbot-message img {
  width: 100px;
  height: 60px;
  border-radius: 50%;
  margin-right: -13px;
}

.chatbot-message > div {
  background-color: #fff200;  
  color: #000000;
  padding: 10px 20px;
  border-radius: 10px;
  max-width: 80%; /* Ajustado para melhor largura */
  word-wrap: break-word;
  font-size: 1rem;
}

#error-message {
  background-color: #d9534f;
  color: #ffffff;
  align-self: center;
}

#chat-form {
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: #002366;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}



#message {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #000b51;
  color: #FFD700;
}

button[type="submit"] {
  background-color: #FFD700;
  color: #002366;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

button[type="submit"]:hover {
  background-color: #a08800;
}






#messages::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
  /* background-color: #002366; Cor do fundo da barra de rolagem */
}

/* Cor e estilo da parte interna da barra de rolagem */
#messages::-webkit-scrollbar-thumb {
  background-color: #FFF200; /* Cor da barra de rolagem */
  border-radius: 10px; /* Deixa a barra de rolagem arredondada */
}

/* Ajustes para Firefox */
#messages {
  scrollbar-width: thin;
  scrollbar-color: #FFF200 #00246600;
}

/* Para IE e Edge antigos */
#messages {
  -ms-overflow-style: none; /* Para ocultar a barra padrão em IE e Edge */
}

#messages::-ms-scrollbar {
  width: 12px;
  background-color: #002366;
}

#messages::-ms-scrollbar-thumb {
  background-color: #FFD700;
  border-radius: 10px;
}



.VIpgJd-ZVi9od-ORHb-OEVmcd {    
  display: none;
}

.goog-te-gadget-icon{
  background-image: none !important;
  display: none !important;
}

.goog-te-gadget-simple {
  
    background-color: #003366 !important;
    border-left: 1px solid #003366 !important;
    border-top: 1px solid #003366 !important;
    border-bottom: 1px solid #003366 !important;
    border-right: 1px solid #003366 !important;
    font-size: 10pt;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px !important;
    padding: 10px 15px !important;
}

.goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed {
  color: #ffffff !important;
}


Estilos para o container do select
#language-select {
    appearance: none; /* Remove o estilo padrão do navegador */
    background: #003366; /* Cor de fundo azul escuro */
    border: 1px solid #004080; /* Borda azul mais clara */
    border-radius: 4px; /* Bordas arredondadas */
    padding: 10px 15px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto em branco */
    width: 200px; /* Largura do select */
    cursor: pointer; /* Cursor em forma de ponteiro */
    position: relative; /* Posiciona o select de forma relativa para o estilo do ícone */
}

/* Estilo para a seta do select */
#language-select::after {
    content: '▼'; /* Adiciona uma seta para baixo */
    position: absolute;
    right: 10px; /* Espaço da borda direita */
    top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente */
    font-size: 12px; /* Tamanho da seta */
    color: #ffffff; /* Cor da seta em branco */
    pointer-events: none; /* Não interfere com o clique */
}

/* Estilo do dropdown ao foco */
#language-select:focus {
    border-color: #3399ff; /* Cor da borda ao focar */
    outline: none; /* Remove o contorno padrão */
    box-shadow: 0 0 0 2px rgba(51, 153, 255, 0.25); /* Sombra de foco */
}





/* Menu Lateral */

#menuLateralToggle {
    position: fixed; /* Fixado na tela */
    top: 20px; /* Distância do topo */
    left: 20px; /* Distância da esquerda */
    z-index: 1001; /* A acima do menu lateral */
    background-color: transparent; /* Remove o fundo azul */
    color: white; /* Cor do texto */
    border: 2px solid white; /* Borda branca */
    border-radius: 100px; /* Bordas arredondadas */
    padding: 10px 15px; /* Espaçamento interno do botão */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Efeito de transição */
}

#menuLateralToggle:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Fundo claro ao passar o mouse */
    color: #007bff; /* Cor do texto ao passar o mouse */
    border-color: #007bff; /* Cor da borda ao passar o mouse */
}

#menuLateralToggle.active {
    background-color: rgba(0, 0, 0, 0.4); /* Fundo mais escuro quando ativo */
    color: #007bff; /* Cor do texto ao ativo */
    border-color: #007bff; /* Cor da borda ao ativo */
}



#menuLateral.active {
    transform: translateX(0); /* Expande o menu */
}

#menuLateral {
  height: 100vh; /* Altura total da tela */
  position: fixed;
  width: 250px;
  background-color: #011b34; /* Cor do fundo */
  color: white; /* Cor do texto */
  padding: 20px;
  left: 0; /* Sempre visível */
  transition: transform 0.3s;
  transform: translateX(-100%); /* Começa escondido */
  z-index: 1000; /* Acima de outros elementos */
  overflow-y: auto; /* Habilita rolagem vertical */
}


#menuLateral.active {
    transform: translateX(0); /* Expande o menu */
}

.pilulas {
    margin-top: 100px; /* Espaço entre o título e os cards */
}

.card {
    background-color: #002447; /* Cor de fundo dos cards */
    border: none; /* Remove a borda padrão */
    border-radius: 10px; /* Bordas arredondadas */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 20px; /* Espaçamento entre os cards */
    padding: 20px; /* Espaçamento interno */
    transition: background-color 0.3s; /* Efeito de transição */
  
}


.card-link {
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    font-size: 1.2rem; /* Tamanho da fonte */
    display: block; /* Faz o link ocupar todo o card */
}

.card:hover {
    background-color: #6c757d; /* Cor ao passar o mouse */
}

#main-content {
    transition: margin-left 0.3s;
    margin-left: 0; /* Começa sem margem */
}

#main-content.shifted {
    margin-left: 250px; /* Espaço para o menu lateral */
}



/* Perguntas frequentes Css  */

#frequent-questions {
    display: flex;
    flex-direction: column; /* Coloca os botões em coluna */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    text-align: center; /* Centraliza o texto dos botões */
}

.frequent-questions {
    display: flex;
    flex-wrap: wrap; /* Permite que os botões se ajustem em múltiplas linhas */
    justify-content: center; /* Centraliza os botões na linha */
}

.question-btn {
    background-color: #191d3ad5; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 20px; /* Aumenta o espaçamento interno */
    margin: 15px; /* Aumenta a margem externa */
    border-radius: 10px; /* Bordas arredondadas */
    text-align: center; /* Centraliza o texto */
    text-decoration: none; /* Remove sublinhado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.47); /* Sombra */
    transition: transform 0.2s; /* Animação ao passar o mouse */
    border: none;
    width: 150px; /* Largura fixa para os botões */
    height: 60px; /* Altura fixa para os botões */
    display: flex; /* Para alinhar o texto verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.question-btn:hover {
    transform: scale(1.05); /* Aumenta ligeiramente o botão ao passar o mouse */
}




/* Estilo do container do select e botão */
.select-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #002447;
    border-radius: 8px;
    text-align: center;
}

.select-container label {
    font-size: 16px;
    color: #ecf0f1;
    display: block;
    margin-bottom: 10px;
}

.select-container select {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #34495e;
    color: #ecf0f1;
    margin-bottom: 15px;
    text-align-last: center;
    transition: background-color 0.3s ease;
}

.select-container select:hover {
    background-color: #3b566e;
}

.select-container button {
    padding: 10px 20px;
    background-color: #fff200;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.select-container button:hover {
    background-color: #FFD700;
}

.select-container button:focus {
    outline: none;
}

/* Adicione um pouco de sombra para destacar */
.select-container select, .select-container button {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}






@media (max-width: 768px) {
  .chatbot-message {
    max-width: 85%; /* Reduz a largura máxima das mensagens do chatbot */
    padding: 10px 15px; /* Mantém o espaçamento interno */
    margin: 0 0 0 5%; /* Alinha a mensagem mais à esquerda */
  }

  .chatbot-message > div {
    max-width: 85%; /* Ajusta a largura máxima do conteúdo da mensagem do chatbot */
    padding: 10px 15px; /* Mantém o espaçamento interno */
    margin: 0 0 0 5%; /* Alinha o conteúdo mais à esquerda */
  }
}

@media (max-width: 480px) {
  .chatbot-message {
    max-width: 90%; /* Reduz a largura máxima ainda mais para telas muito pequenas */
    padding: 10px 10px; /* Mantém o espaçamento interno */
    margin: 0 50px 0 -12%; /* Alinha a mensagem mais à esquerda */
  }

  .chatbot-message > div {
    max-width: 90%; /* Ajusta a largura máxima do conteúdo da mensagem do chatbot */
    padding: 10px 10px; /* Mantém o espaçamento interno */
    margin: 0 0 0 -5%; /* Alinha o conteúdo mais à esquerda */
  }
}

@media (max-width: 768px) {
  .modal-content {
    max-width: 60%; /* Reduz a largura do modal em telas menores */
    padding: 15px; /* Ajusta o padding para telas menores */
  }
}

